<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>desafio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">desafio</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-card *ngFor="let desafio of desafios">
    <ion-img [src]="desafio.img" style="margin-top: 80px; object-fit: cover; filter: brightness(70%);"></ion-img>
    <div
      style="position: absolute; color: white; font-size: 1.5rem; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); z-index: 1; left: 10px; bottom: 5px;">
      <b>{{desafio.titulo}}</b>
    </div>
  </ion-card>

</ion-content>