<ion-tabs>
  <ion-tab-bar slot="bottom" style="border: none" translucent>

    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>


    <ion-tab-button tab="dieta" href="/tabs/dieta">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Dieta</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="receita" href="/tabs/receita">
      <ion-icon name="nutrition"></ion-icon>
      <ion-label>Receitas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="treino" href="/tabs/treino">
      <ion-icon name="barbell"></ion-icon>
      <ion-label>Treinos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
