<swiper-container pagination="true" autoplay delay="5000">
  <swiper-slide class="mb-2">
    <ion-card class="shadow-none">
      <ion-img src="../../../../assets/img/horarios.jpeg" style="object-fit: cover; filter: brightness(70%);" />
    </ion-card>
  </swiper-slide>
  <swiper-slide class="mb-2">
    <ion-card class="shadow-none">
      <ion-img src="../../../../assets/img/personal.webp" style="object-fit: cover; filter: brightness(70%);" />
    </ion-card>
  </swiper-slide>
  <swiper-slide class="mb-2">
    <ion-card class="shadow-none">
      <ion-img src="../../../../assets/img/cardio.jpeg" style="object-fit: cover; filter: brightness(70%);" />
    </ion-card>
  </swiper-slide>
</swiper-container>
<!-- 
<ion-card>
  <ion-img src="../../../assets/img/treino3.webp"/>
  <div
    style="position: absolute; color: white; font-size: 1.5rem; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); z-index: 1; left: 10px; bottom: 5px;">
    <b>Desafios</b>
  </div>
</ion-card>
<ion-card>
  <ion-img src="../../../assets/img/dieta.webp"/>
  <div
    style="position: absolute; color: white; font-size: 1.5rem; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); z-index: 1; left: 10px; bottom: 5px;">
    <b>Receitas</b>
  </div>
</ion-card> 

 <ion-card>
      <ion-img src="../../../../assets/img/personal.webp" style="object-fit: cover; filter: brightness(70%);" />
      <div
        style="position: absolute; color: white; font-size: 1.5rem; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); z-index: 1; left: 10px; bottom: 5px;">
        <b>Desafios</b>
      </div>
    </ion-card>
-->